@{
    ViewBag.Title = "About Us - ChillFlix";
}

<div class="container fill">
    <h2>About Us</h2><br/>
    <p>Since last week, Adams Bala and Thomas Manu has been painstakingly working on ChillFlix. By the end of the week, we were able to create this awesome movie rental website that needs a lot of help.</p>
    <p>If any of you know how to create websites using C#, HTML, CSS, Javascript, Angular, and MS SQL, please contact us as soon as possible to fix this.</p><br/>
    <hr />
    <p>This website is a small project that we created for our Database Management Systems class during our second semester of our junior year in the year of our Lord 2018.</p>
</div>