@model MovieRental.Models.MovieModel
@{
    ViewBag.Title = "Genre - ChillFlix";
    ViewBag.Logged = Model.LoggedIn;
    if (Model.User != null)
    {
        ViewBag.User = Model.User.Email;
    }
}

<div class="container">
    <h2>Genre List</h2>
    <ul class="list-group">
        @foreach (var item in Model.Genres)
        {
            <a href="@Url.Action("MoviesGenre","Movie",new {genre = item, user = Model.User != null ? Model.User.Email : null })" class="list-group-item list-group-item-action">@item</a>
        }
    </ul>
</div>