@model MovieRental.Models.MovieModel
@{
    ViewBag.Title = "TA Movie Rental";
}

<h2>Index</h2>

@foreach(var item in Model.Movies)
{
    <a>@item.Title</a>
    <a>@item.Description</a><br />
}

@Html.DropDownList("MoviesNames", Model.DropDownList, new { @class = "" })