
@{
    ViewBag.Title = "Login";
}



<div class="container col-md-10 col-md-offset-1">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="col-5-sm" align="center">
            <h2>Login</h2>
        </div>
        <br />
        <div class="col-5-sm" align="center">
            <h4>Email</h4>
        </div>
        <div class="col-5-sm" align="center">
            <input type="text" id="txtEmail" name="email" placeholder="jonhndoe@southern.edu" />
        </div>
        <div class="col-5-sm" align="center">
            <h4>Password</h4>
        </div>
        <div class="col-5-sm" align="center">
            <input type="password" id="txtPassword" name="password" placeholder="Password" />
        </div>
        <br />
        <div class="col-5-sm" align="center">
            <input type="submit" name="SaveButton" id="submitBtn" value="Login" />
        </div>

    }

    @if (!string.IsNullOrWhiteSpace(ViewBag.errorMsg))
    {
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" class="close" href="#">
                &times;
            </a>
            <div id="divErrorText">
                User does not exist.
            </div>
        </div>
    }
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" class="close" href="#">
            &times;
        </a>
        <div id="divErrorText">

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#submitBtn').on("keypress", function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                e.preventDefault();
                e.stopPropagation();
                $(this).closest('form').submit();
            }
        });
        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });
    });
</script>